body {
  background-color: white;
  color: #121212;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode h1 {
  color: #F7C41E;
}

.dark-mode p {
  color: #F7C41E;
}

.dark-mode b {
  color: #F7C41E;
}

.dark-mode a {
  color: #FF7F1B;
}







